html, body {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

body * {
}

h1 {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6em;
}

h2 {
    font-size: 0.9em;
    font-weight: 400;
}


p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.6em;
}

p a {
    text-decoration: none;
    font-weight: 400;
    color: #0072ff;
}

a.btn {
    background-color: #0072ff;
    border: 1px solid #0072ff;
    border-radius: 3px;
    color: white;
    padding: 7px 15px 7px 15px;
}

a.btn-reverse {
    background-color: transparent;
    border: 1px solid #0072ff;
    border-radius: 3px;
    padding: 7px 15px 7px 15px;
}

.container {
    max-width: 100%;
    padding: 0px 10px 0px 10px;
}

.container-fluid {
    width: 100%;

}

header {
    width: 100%;
    height: 60px;
    z-index: 2;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.1);
}

@media (min-width: 768px) {

    header {
        position: fixed;
        top: 0px;
        left: 0px;
    }

}
