.side-nav {
    --padding-top: 60px;
}

.side-nav ul {
    list-style-type: none;
}

.side-nav > ul {
}

.side-nav a {
    text-decoration: none;
    color: rgba(0,0,0,0.7);
    font-size: 0.8em;
}

.side-nav a:hover {
    text-decoration: underline;
}

.side-nav ul {
    padding-left: 30px;
}

.side-nav ul li h2 {
    margin-bottom: 5px;
}

.side-nav ul li h2 a {
    font-size: 0.9em;
    color: #547190;
}

.side-nav ul li h2 a:hover {
    text-decoration: none;
    color: #0072ff;
}

.page-location {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: #0072ff;
    --box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    display: flex;
}

.page-location .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.page-location button {
    height: 40px;
    width: 40px;
    background: none;
    border: 0px;
    box-shadow: none;
    background-image: url('../img/menu-icon-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:  auto 16px;
    margin-right: 10px;
}

.page-location p{
    color: white;
}
.page-location a {
    display: none;
}

.page-location span {
    display: none;
}


.hero {
    margin-top: 60px;
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #0072ff;
}

.hero p {

    color: rgba(255,255,255,0.8);
}

.hero .call-to-action {
    margin-top: 20px;
}

h1 {
    color: #547190;
    color: white;
}

p {
    color: rgba(0,0,0,0.7);
}

ul.roadmap-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul.roadmap-list li {
}

ul.roadmap-list li a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul.roadmap-list li .icon {
    width: 20%;
    text-align: center;
}

ul.roadmap-list li .icon img {
    width: 45px;
    height: auto;
}

ul.roadmap-list li .description {
    width: 80%;
    padding-left: 0px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

ul.roadmap-list li:last-child .description {
    border-bottom: 0px;
}

ul.roadmap-list li .description h2 {
    margin-bottom: 0px;
    color: #547190;
}

ul.roadmap-list li .description p {
    margin-top: 5px;
    font-size: 0.8em;
}

.contribute {
    background-color: #F6F8FA;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.contribute p {
    margin: 0px;
    padding: 20px 0px 20px 0px;
    color: #A2B1C1;
    font-size: 0.8em;
}

footer p {
    margin: 0px;
    padding: 20px 0px 20px 0px;
    color: #A2B1C1;
    font-size: 0.8em;
    text-align: center;
}

#side-nav {
    display: none;
}

@media (min-width: 768px) {

    header {

    }
    .container {
        width: 100%;
        max-width:768px;
        margin: auto;
    }

    .container-fluid {
        max-width: 100%;
        margin: auto;
    }

    .page-location {
        position: relative;
        width: 100%;
        margin-top: 60px;
        display: flex;
        background-color: transparent;
        border-bottom: 1px solid #F6F8FA;
        box-shadow: none;
    }

    .page-location button {
        background-image: url('../img/menu-icon-black.svg');
        opacity: 0.6;
    }

    .page-location p {
        color: rgba(0,0,0,0.7);
        font-size: 0.8em;
    }

    .page-location a {
        display: inline;
    }

    .page-location span {
        display: inline;
    }

    .page-location a:hover {
        text-decoration: underline;
    }

    .hero {
        padding: 20px 0px 0px 0px;
        margin-top: 0px;
        border-bottom: 0px;
        background-color: transparent;
    }

    .hero h1 {
        font-size: 1.4em;
        color: #547190;
    }
    .hero p {
        font-size: 0.8em;
        line-height: 1.8em;
            color: rgba(0,0,0,0.7);
    }

    .hero .btn-negative {
        background-color: #0072ff;
        border: 1px solid #0072ff;
        border-radius: 3px;
        color: white;
        padding: 7px 15px 7px 15px;
    }

    .hero .btn-reverse-negative {
        background-color: transparent;
        border: 1px solid #0072ff;
        border-radius: 3px;
        padding: 7px 15px 7px 15px;
        color: #0072ff;
    }

    ul.roadmap-list {
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
    }

    ul.roadmap-list li {
        text-align: center;
        width: 48%;
        display: block;
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: #F6F8FA;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    ul.roadmap-list li a {
        display: block;
    }
    ul.roadmap-list li a .icon {
        width: 100%;
    }

    ul.roadmap-list li .icon img {
        width: auto;
        height: 50px;
        margin: auto;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }

    ul.roadmap-list li a:hover .icon img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    ul.roadmap-list li .description {
        padding: 0px 30px 0px 30px;
        border-bottom: 0px;
    }

    .contribute {
        background-color: transparent;
        border: 0px;
    }

    footer {
        border: 0px;
    }

    footer .container {
        border-top: 1px solid rgba(0,0,0,0.1);
    }
}

@media (min-width: 1480px) {

    #side-nav {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 350px;
        height: 100%;
        overflow-y: scroll;
        background-color: #F6F8FA;
    }

    #side-nav > ul {
            padding-right: 80px;
            margin-top: 160px;
        }

        #side-nav > ul > li > ul {
                display: none;
            }


        .container {
            max-width:768px;
            margin: auto;
        }

        .container-fluid {
            max-width: 768px;
            margin: auto;

        }

        main {
        }

        ul.roadmap-list {
            width: 100%;
            margin: 0px;
            padding: 0px;
            padding-bottom: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        ul.roadmap-list li {
            width: 45%;
            margin-right: 30px;
        }

        footer {
            background-color: transparent;
        }

}
